
.GuestTakeAssessment_container {
    height: auto;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color:#323130;
  }

  .Text_muted {
    opacity: 0.3;
    margin-right: 20px;
  }
 
  .Button_next {
    margin: 0 20px;
    padding: 10px 16px;
    width: 139px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1px solid #2667FF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2667FF;
    cursor: pointer;
  }

  .Button_submit {
    margin: 0 20px;
    padding: 10px 16px;
    width: 139px;
    height: 60px;
    background-color: #2667FF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .Filter_wrapper {
    display: flex;
    width: 100%!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;

  }

  .Filter_nav {
    display: flex;
    width: 100%!important;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Filter_nav_text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .Filter_nav_text img{
    height: 11px;
    margin: 7px;
  }

  .Filter_nav_text h4{
    font-weight: 600;
    color:#201F1E;
  }

  .Filter_wrapper p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #323130;
  }

  .Filter_wrapper span{
    font-size: 16px;
  }

  .Filter_Next_Submit {
    display: flex;
    width: 100%!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .Questions {
    display: flex;
    width: 100%!important;
    flex-direction: column;
    margin:100px 0;
  }

  .Questions p{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  .Questions label{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #201F1E;
    padding-left: 10px;
  }

  .Questions input[type=radio]{
    margin-left: 10px;
  }

  .Questions p{
    margin-bottom: 0px;
  }

  .QuestionsWrapper {
    margin-bottom: 40px;
  }

  .Description {
    margin-top: 10px;
    border-top: 1px solid #323130;
    font-size: 16px;
    line-height: 22px;
    padding:20px 0;
    border-bottom: 1px solid #323130;
  }

  .Filter_flex {
    display: flex;
    width: 30%;
    padding: 20px;
    border: 1px solid;
    justify-content: space-between;

  }

  
  /* Media queries */
  @media screen and (max-width: 767px) {
    .GuestTakeAssessment_container {
      align-items: stretch;
      text-align: center;
      width: 100%;
    }
    .Filter_flex {
      width: 100%;
    }
    .Filter_wrapper {
      text-align: left;
    }

    .Description,.Questions {
      text-align: left;
    }
  
  }
  
