@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.get {
  background-color: #2667ff;
  padding: 3rem 0;
  margin-top: 7rem;
}

h2 {
  font-weight: bold;
}

.get .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 60vw;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.get p {
  font-weight: normal;
}

.get .btn {
  background-color: #fff;
  color: #2667ff;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.get .btn button:hover {
  transform: scale(1.05);
}

.get .btn button:active {
  transform: scale(0.95);
}

@media (max-width: 767px) {
  .get .wrapper {
    max-width: 90vw;
    margin: 0 auto;
  }
}
