
.Assessment_container {
    height: auto;
    width: 100%;
    margin:40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding: 40px;
  }

  .Assessment_container table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .Assessment_container th {
    background-color: #F8FBFD;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #605E5C;

  }
  
  .Assessment_container td {
    text-align: left;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #605E5C;
  }
  

  .Table_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 40px;
  }
 
  .Assessment_container button {
    width: 201px;
    height: 48px;
    padding: 6px 20px;
    background-color: #FFFFFF;
    border: 2px solid #2667FF;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2667FF;
    cursor: pointer;
  }

  .Filter_wrapper {
    display: flex;
    width: 100%!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

  }

  .Filter_flex {
    display: flex;
    width: 25%;
    justify-content: space-between;
  }

  .Filter_button {
    background-color: #FFFFFF!important;
    border: 1px solid #8A8886!important;
    border-radius: 4px!important;
    color: #8A8886!important;
    cursor: pointer;
  }

  
  /* Media queries */
  @media screen and (max-width: 767px) {
    .Assessment_container {
      align-items: stretch;
      text-align: center;
    }
  
  }
  
