.Stats_container {
  height: 700px;
  background-color: #201f1e;
}

.Stats_details {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Stats_details h3 {
  font-weight: 600;
  font-size: 40px;
  color: #a19f9d;
  margin-bottom: 3rem;
  margin-left: 35px;
}

.Stats_body {
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.Stat {
  height: 300px;
  width: 30%;
}

.Stat_tag {
  width: 109px;
  height: 32px;
  border: 2px solid #edebe9;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edebe9;
  margin-bottom: 1rem;
}

.Stat h1 {
  font-weight: 700;
  font-size: 128px;
  letter-spacing: -0.075em;
  color: #edebe9;
  margin-top: 10px;
}

.Stat_description {
  font-weight: 500;
  font-size: 20px;
  line-height: 144.52%;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 25px;
}

/* Media queries */
@media screen and (max-width: 1100px) {
  .Stats_container {
    height: auto;
    padding: 20px 0;
  }

  .Stats_body {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .Stats_details {
    width: 90%;
  }

  .Stats_details h3 {
    font-size: 30px;
    margin-left: 0;
  }
  .Stat {
    width: 100%;
  }

  .Stat h1 {
    font-size: 80px;
  }

  .Stat_description {
    font-size: 18px;
  }
}
