p {
  color: #605e5c;
}

h1,
h2 {
  color: #605e5c;
}

/* ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

li {
  padding: 10px 15px;
} */

.hide {
  display: block;
}
.show {
  display: none;
}

.bordered {
  border: 1px dotted;
}

.chart-padding {
  padding: 60px 49px 56px 91px;
}

.create-button {
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
}

.button-container {
  display: flex;
  gap: 30px;
}

.primary {
  color: #2667ff;
}
.bg-primary {
  background-color: #2667ff;
}
.primary-tint {
  color: #f8fbfd;
}
.bg-primary-tint {
  background-color: #f8fbfd;
}

.white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}

.semibold {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.semibold-alt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.light {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.numtext {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.cardtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.headingtext {
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #6e6e6e;
}

@media screen and (max-width: 1023px) {
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .page-padding {
    padding: 16px;
  }

  .chart-padding {
    padding: 16px 0px;
  }

  .create-button {
    padding: 8px;
    border-radius: 4px;
    border: none;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }
}
