p {
  color: #605e5c;
}

h1,
h2 {
  color: #605e5c;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

li {
  padding: 10px 15px;
}

.bordered {
  border: 1px dotted;
}

.primary {
  color: #2667ff;
}
.bg-primary {
  background-color: #2667ff;
}
.primary-tint {
  color: #f8fbfd;
}
.bg-primary-tint {
  background-color: #f8fbfd;
}

.semibold {
  font-family: semibold;
}
