p {
  margin: 0;
}

::placeholder {
  font-size: 16px;
}

.enquiries {
  padding: 72px 100px;
}

.search-container {
  position: absolute;
  bottom: 100px;
}

.input-style {
  padding: 16px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 465px;
  background-color: white;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  bottom: 3px;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.medium {
  font-size: 32px;
  line-height: 40px;
}

.small {
  font-size: 20px;
  line-height: 28px;
}

.regular {
  font-family: regular;
}
.semibold {
  font-family: semibold;
}

@media screen and (max-width: 1023px) {
  .enquiries {
    padding: 16px;
  }

  .search-container {
    position: absolute;
    bottom: 50px;
  }

  .input-style {
    padding: 8px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    width: 90px;
    background-color: white;
  }

  .medium {
    font-size: 24px;
    line-height: 40px;
  }

  .small {
    font-size: 12px;
    line-height: 16px;
  }
}
