#blogPage{
    padding: 2em 20px;
    #blognav{
        display:none;
    }
    h1{
        color: #323130;
        text-align: center;
    }
    .bloglist{
        margin-bottom: 104px;
    }
    .subscribe{
        h1{
            color: #2667FF;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 33.5px;
        }
        p{
            color: #605E5C;
            margin-top: 25px;
            margin-bottom: 56px;
        }
        #input{
            display: grid;
            input{
                padding: 7px;
                color: #8A8886;
                background: #F2F3F7;
                border: 1px solid #8A8886;
                border-radius: 4px;
            }
            button{
                padding: 7px;
                background: #2667FF;
                color: white;
                border: #2667FF solid;
                margin-top: 10px;
                border-radius: 4px;
            }
        }
    }
}
@media (min-width:500px) {
    #blogPage{
        

        #cards{
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
        }
        .subscribe{
            p{
                text-align: center;
            }
            #input{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;

                input{
                    margin-right: 14px;
                    padding: 15px;
                    width: 345px;
                }
                button{
                    padding: 12px 24px;
                    margin: 0;
                }
            }
        }
    }

}
@media (min-width:1000px) {
    #blogPage{
        #dropdown{
            display: none;
        }
        #blognav{
            display: block;
            ul{
                display:flex;
                justify-content: space-between;
                li{
                    list-style: none;
                    color: #605E5C;
    
                    &:hover{
                        border-bottom:solid #141ae9;
                    }
                }
            }
        }
    }
}
