#blogstory{
    #desktop{
        width: 99vw;
    }
    #profile{
        display: grid;
        justify-content: center;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: auto;
        }
        p{
            text-align: center;
            margin: 5px;
            padding: 0;
            &:nth-child(1){
                color: #323130;
                font-size: 20px;
            }
            &:nth-child(2){
                color: #605E5C;
                font-size: 20px;
            }
        }
    }
    #cardContainer{
        h1{
            text-align: center;
            color: #605E5C;
        }
        button{
            padding: 7px;
            color: #2667FF;
            background: white;
            border: #2667FF solid;
            margin-top: 10px;
            border-radius: 4px;
            margin: auto;
            width: 100%;
        }
    }
    #blogheader{
        background-image: url();
        background: #2667FF8C 55%;
        padding-top: 70px;
        padding-bottom: 50px;
        p, h1{
            text-align: center;
            color: white;
        }
        img{
            margin: auto;
        }
    }
    #path{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    #body{
        padding: 0 20px;
        h3{
            color: #323130;
        }
        p, li{
            color: #605E5C;
            font-size:20px
        }
    }
    .subscribe{
        h1{
            color: #2667FF;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 33.5px;
        }
        p{
            color: #605E5C;
            margin-top: 25px;
            margin-bottom: 56px;
        }
        #input{
            display: grid;
            input{
                padding: 7px;
                color: #8A8886;
                background: #F2F3F7;
                border: 1px solid #8A8886;
                border-radius: 4px;
            }
            button{
                padding: 7px;
                background: #2667FF;
                color: white;
                border: #2667FF solid;
                margin-top: 10px;
                border-radius: 4px;
            }
        }}
}
@media (min-width:500px) {
    #blogstory{
    #cardContainer{
        #button{

            display: grid;
            justify-content: center;
    
            button{
                width:200px
            }
        }
    }
        .subscribe{
            h1{
                text-align: center;
            }
            p{
                text-align: center;
            }
            #input{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
    
                input{
                    margin-right: 14px;
                    padding: 15px;
                    width: 345px;
                }
                button{
                    padding: 12px 24px;
                    margin: 0;
                }
            }
    }}
    #cards{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    
}