.container {
  height: 562px;
  background: #201f1e;
  margin-top: 5rem;
  padding: 10px 0;
}

.content_container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
}

.content_container h1 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #faf9f8;
  margin: 3rem 0;
}

.content_container p {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #ffffff;
}

.content_container button {
  width: 288px;
  height: 80px;
  background: #106ebe;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border: none;
  outline: none;
  margin-top: 2rem;
}

@media screen and (max-width: 1100px) {
  .container {
    height: auto;
  }

  .content_container {
    width: 90%;
  }
}
