.decision_container {
  height: 800px;
  text-align: center;
  padding: 4rem 1rem;
}

.decision_container img {
  max-width: 90%;
}

.decision_container h1 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: #323130;
  margin: 2rem 0;
}

.decision_container p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.015em;
  text-transform: lowercase;
  color: #605e5c;
}

.cta_container {
  margin: 35px 0;
}

.button {
  width: 197px;
  height: 44px;
  background: #106ebe;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.cta_container a {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #c8c6c4;
  text-decoration: none;
  margin: 0 10px;
}
