.Signup_container {
    height: auto;
    width: 100%;
    margin:40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  .Signup_container a{
    text-decoration: none;
    color: #2667FF;
  }
  .Signup_container header {
    color: #323130;
    text-align: center;
  }

  .Signup_container header img {
    margin-bottom: 80px;
  }

  .Signup_container header h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
  }

  .Signup_container header p {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }

  .Form_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
  }

  .Form_container input {
    width: 531px;
    height: 60px;
    border: 1px solid #8A8886;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 14px 16px;
  }

  .Form_container label {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;color: #323130;
    margin-bottom: -18px;
  }

  .Form_container img{
    position: relative;
    right: -90%;
    top: 43px;
  }
 
  .Form_checkbox {
    display: flex;
    width: 100%!important;
    margin: 0 24px 24px 0 !important;
    height: auto !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .Form_checkbox label,.Form_checkbox a,.Form_container p {
    font-size: 14px;
    font-weight: 400;
  }

  .Form_checkbox input[type=checkbox]{
    display: inline;
    width: auto!important;
    margin: 0 4px 24px 0 !important;
    height: auto !important;
  }
  .Form_checkbox a{
    text-decoration: none;
    color: #2667FF;
  }

  .Form_container input[type=submit] {
    padding: 6px 20px;
    width: 201px;
    height: 48px;
    background: #2667FF;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
  }

  .Form_container input:focus-visible {
    background: #FFFFFF;
    border: 2px solid #2667ff !important;
    border-radius: 2px;
    outline: none;
}

.Signup_Button {
  padding: 10px 20px;
  min-width: 100px;
  height: 48px;
  background: #2667FF;
  border-radius: 2px;
  color: #FFFFFF!important;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
  
  /* Media queries */
  @media screen and (max-width: 767px) {
    .Signup_container {
      align-items: stretch;
      text-align: center;
    }

    
    .Signup_container header h1 {
      font-size: 28px;
    }
  
    .Signup_container header p {
      font-size: 14px;
      padding: 0 20px;
    }

    .Form_container input {
      width: 100%;
      padding: 14px 16px;
    }

    .Form_container img{
      position: relative;
      right: -90%;
      top: 43px;
    }

    .Form_container input[type=submit] {
      width: 100%;
    }
  
  }
  