.Hero_container {
  height: 700px;
  width: 80%;
  margin: 0px auto;
  display: flex;
  padding-bottom: 40px;
}

.hero_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_heading {
  font-weight: 900;
  font-size: 70px;
}

.hero_description {
  font-weight: 400;
  font-size: 24px;
  color: #605e5c;
  text-transform: capitalize;
  margin-top: 25px;
}

.hero_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.floating_img {
  position: absolute;
  bottom: 0;
  right: 17%;
}

/* Media queries */
@media screen and (max-width: 1100px) {
  .Hero_container {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .hero_info,
  .hero_img {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }

  .hero_img {
    padding-bottom: 7rem;
  }

  .hero_img img {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .hero_heading {
    font-size: 40px;
  }
  .hero_description {
    font-size: 20px;
  }
}
