.test-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.test-body-header{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 32px;
}

.test-body{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    inline-size: 47rem;
    overflow-wrap: break-word;
    margin: 16px 0 72px;
}