@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin-top: 4rem;
  text-align: center;
}

.content h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

h1 span {
  font-size: 4rem;
  color: #2667ff;
}

p {
  font-weight: bold;
  margin-bottom: 1.2rem;
}

p span {
  font-size: 1.2rem;
  color: #2667ff;
}

button {
  background-color: #2667ff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

img {
  position: relative;
  z-index: 1;
}
