.container {
  height: 100%;
  width: 65%;
  /* height: auto; */
  margin: 1rem auto;
  padding: 2rem 0;
}
.page__header {
  margin-bottom: 1rem;
}

.page__head {
  width: 416px;
  height: 52px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  color: #2e2e2e;
}
.page__date {
  /* width: 271px; */
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: #605e5c;
  margin-bottom: 10rem;
}
span {
  color: #2667ff;
}
.main__content {
  width: 70%;
  text-align: justify;
  text-justify: inter-word;
  color: #323130;
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.title {
  width: 100%;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #323130;
}
.right_left {
  display: flex;
  gap: 10rem;
}

.title__table {
  width: 100%;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  color: #323130;
  justify-content: center;
  text-align: center;
}

.table {
  width: 329px;
  height: 362px;
  background: #eff6fc;
  padding: 23px 23px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  overflow-y: scroll;
  /* margin: 2rem auto; */
  border: 2px solid #2667ff;
  border-radius: 5px;
}

.link__section {
  width: 100%;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #4a4242;
  text-decoration: none;
}
.button {
  margin-top: 23px;
  width: 300px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2e2e2e;
  margin-left: 20px;
  border-color: #2667ff;
  border-radius: 5px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .container {
    height: 100%;
    width: 80%;
    /* height: auto; */
    margin: 0 auto;
    padding: 0;
  }

  .page__header {
    margin-bottom: -9rem;
  }
  .page__head {
    width: 100%;
    height: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #2e2e2e;
  }
  .page__date {
    /* width: 271px; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-size: 7px;
    color: #605e5c;
  }

  .main__content {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    color: #323130;
    font-family: "Inter";
    font-style: normal;
    font-size: 15px;
    font-weight: 100;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .title {
    width: 100%;
    height: 36px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #323130;
  }
  .right_left {
    display: flex;
    flex-direction: column-reverse;
  }
  /* .righ_feature {
    display: none;
  } */
}
