@font-face {
  font-family: "regular";
  font-weight: 400;
  src: local("Inter-Regular"),
    url(./../../ui/fonts/Inter-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "semibold";
  font-weight: 700;
  src: local("Inter-SemiBold.ttf"),
    url(./../../ui/fonts/Inter-SemiBold.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
