.password {
  display: grid;
  grid-template-columns: auto;
}
hr {
  border: none;
  height: 2px;
  background: #edebe9;
}

.form__control {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  padding: 20px 0;
}

.form__input {
  width: 284px;
  padding: 6px 12px;
  background: #edebe9;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #a19f9d;
  border: none;
}
.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #323130;
}

.btns {
  padding: 26px 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  column-gap: 24px;
}

.cancel_btn {
  width: fit-content;
  padding: 6px 20px;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #c7e0f4;
  border-radius: 2px;
  cursor: pointer;
  color: #201f1e;
}

.update_btn {
  width: fit-content;
  padding: 6px 20px;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background: #141ae9;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

.cancel_btn:hover {
  transform: scale(1.1);
}

.update_btn:hover {
  transform: scale(1.1);
}
