#blogPage {
  padding: 2em 20px;
}
#blogPage #blognav {
  display: none;
}
#blogPage h1 {
  color: #323130;
  text-align: center;
  margin: 2rem 0;
}
#blogPage .bloglist {
  margin-bottom: 104px;
}
#blogPage .subscribe h1 {
  color: #2667ff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 33.5px;
}
#blogPage .subscribe p {
  color: #605e5c;
  margin-top: 25px;
  margin-bottom: 56px;
}
#blogPage .subscribe #input {
  display: grid;
}
#blogPage .subscribe #input input {
  padding: 7px;
  color: #8a8886;
  background: #f2f3f7;
  border: 1px solid #8a8886;
  border-radius: 4px;
}
#blogPage .subscribe #input button {
  padding: 7px;
  background: #2667ff;
  color: white;
  border: #2667ff solid;
  margin-top: 10px;
  border-radius: 4px;
}
@media (min-width: 500px) {
  #blogPage #cards {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  #blogPage .subscribe p {
    text-align: center;
  }
  #blogPage .subscribe #input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #blogPage .subscribe #input input {
    margin-right: 14px;
    padding: 15px;
    width: 345px;
  }
  #blogPage .subscribe #input button {
    padding: 12px 24px;
    margin: 0;
  }
}
@media (min-width: 1000px) {
  #blogPage #dropdown {
    display: none;
  }
  #blogPage #blognav {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  #blogPage #blognav ul {
    display: flex;
    justify-content: space-between;
  }
  #blogPage #blognav ul li {
    list-style: none;
    color: #605e5c;
  }
  #blogPage #blognav ul li:hover {
    border-bottom: solid #141ae9;
  }
}
