#blog {
  width: 330px;
  height: fit-content;
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  margin-bottom: 30px;
}
#blog #links {
  text-decoration: none;
  color: #323130;
}
#blog #blogImage {
  width: 330px;
  height: 200px;
}
#blog #blogname {
  display: flex;
  justify-content: space-between;
  color: #605e5c;
  align-items: center;
  margin: auto;
}
#blog #blogname #blogtime {
  margin: 0;
  padding: 0;
}
#blog #blogname #time {
  display: flex;
  align-items: center;
}
#blog #blogname #span {
  background: #328cc1;
  font-size: 5em;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
#blog h1 {
  font-size: 18px;
}
#blog #description {
  color: #605e5c;
  font-size: 14px;
  margin-bottom: 50px;
}
#blog #blogDisplayPicture {
  display: flex;
  align-items: center;
}
#blog #blogDisplayPicture img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}
#blog #blogDisplayPicture #name {
  display: grid;
  align-items: center;
}
#blog #blogDisplayPicture #name p {
  margin: 0;
  padding: 0;
}
#blog #blogDisplayPicture #name p:nth-child(1) {
  color: #323130;
  font-size: 14px;
}
#blog #blogDisplayPicture #name p:nth-child(2) {
  color: #605e5c;
  font-size: 12px;
}
