#userBody{
    display:grid;
    justify-content:center;
    align-items:center;
    margin: auto;
}
#logodiv{
    margin: auto;
    display:grid;
    justify-content:center;
    margin-top: 126px;
    margin-bottom: 106px;
}
.userlogo{
    width: 146px;
    height: 40px;
}
.successDiv{
    display:grid;
    justify-content:center;
    margin: auto;
}
.successDiv h2{
    text-align: center;
    font-weight:600;
    font-size:32px;
    color: #2667FF;
    margin-bottom: 23px;
}
.successDiv p{
    text-align:center;
    font-size:16px;
    font-weight:400;
    color: #323130;
    margin-bottom:50px
}
.successDiv button{
    background: #2667ff;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height:63px;
    color: white;
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    margin: auto;
}
.successDiv button:hover{
    background: #3F8EFC;
}
.successDiv #success{
    margin: auto;
    margin-bottom: 50px;
}

@media (min-width:800px) {
    .successDiv button{
        width: 462.41px;
        height:83px;
    }
}